@media (min-width: 360px) {  
   .cuntom {font-size:0.5rem;} /*1rem = 16px*/
 }

@media (min-width: 544px) {  
   .cuntom {font-size:0.6rem;} /*1rem = 16px*/
   
 }
  
 /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
 @media (min-width: 768px) {  
   .cuntom {font-size:0.8rem;} /*1rem = 16px*/
 }
  
 /* Large devices (desktops, 992px and up) */
 @media (min-width: 992px) { 
   .cuntom {font-size:1rem;} /*1rem = 16px*/
 }
  
 /* Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {  
   .cuntom {font-size:1rem;} /*1rem = 16px*/    
 }
  
 /*
 ::::::::::::::::::::::::::::::::::::::::::::::::::::
 Custom media queries
 */
  
 /* Set width to make card deck cards 100% width */
 @media (min-width: 950px) and (max-width:1100px) { 
   .cuntom {font-size:1rem;} 
 }